<p id="notice"><%= notice %></p>

<h1>Letters</h1>

<form method="GET" action="<%= letters_path %>">
  <label for="search-term">Search: </label>
  <input type="text" id="search-term" name="q" value="<%= @search_term %>">
  <input type="submit" value="Search">
</form>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
      <tr>
        <td><%= letter.title %></td>
        <td><%= link_to 'Show', letter %></td>
        <td><%= link_to 'Edit', edit_letter_path(letter) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter', new_letter_path %>
