<p id="notice"><%= notice %></p>

<div id="categories">
  <ul>
  <% for category in @letter.categories %>
    <li class="category"><%= category.display_name %></span>
  <% end %>
  </ul>
</div>


<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
<%= button_to 'Duplicate & Edit',  duplicate_letter_path(@letter) %>

<p>
  <form method="POST" action="<%= format_letter_path %>">
    <label for="search-term">Find your Congresspeople and format the letter: </label>
    <input type="text" id="zip" name="zip">
    <input type="submit" value="Search">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</p>

<%= render 'formatted', letter: @letter, sender: @sender, recipient: @recipient %>
